<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>


        <!--**********************************
            Sidebar end
        ***********************************-->
        {% include "sideMenu.html" %}
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>보물 승인 대기 리스트</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>보물 아이디</th>
                                                <th>숨긴사람</th>
                                                <th>날짜</th>
                                        
                                            </tr>
                                        </thead>
                                        {%for obj in data_list %}
                                        <tbody>
                                            <tr onclick="location.href='approveTreasure?t_id={{obj.t_id}}'">
                                                <th>{{obj.t_id}}</th>
                                                <td>{{obj.hide_user}}</td>
                                                <td>{{obj.hide_date}} </td>
                                            </tr>
                                        
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
               
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../static/plugins/common/common.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/gleek.js"></script>
    <script src="../static/js/styleSwitcher.js"></script>
    <script src="../static/js/include.js"></script>
</body>

</html>