<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>


        <!--**********************************
            Sidebar end
        ***********************************-->
        {% include "sideMenu.html" %}
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>블랙 리스트</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>아이디</th>
                                                <th>이름</th>
                                                <th>폰 번호</th>
                                                <th>이메일</th>
                                                <th>가입일</th>
                                                <th> 블랙</th> 
                                        
                                            </tr>
                                        </thead>
                                        {%for obj in data_list %}
                                        <tbody>
                                            <tr>
                                                <th>{{obj.user_id}}</th>
                                                <td>{{obj.user_name}}</td>
                                                <td>{{obj.user_phone}} </td>
                                                <td>{{obj.user_email}}</td>
                                                <td>{{obj.user_startdate}}</td>
                                                <td>{{obj.user_black}}</td>
                                                <td><button class="btn btn-primary px-3 ml-4" onclick="location.href='applyBlack?user_id={{obj.user_id}}'">on</button></td>
                                            </tr>
                                        
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
               
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>UndeadCode</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../static/plugins/common/common.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/gleek.js"></script>
    <script src="../static/js/styleSwitcher.js"></script>
    <script src="../static/js/include.js"></script>
</body>

</html>